/* 
#000
#263248; 16193b; 363942 tamno plava
#7e8aa2 siva
#fff; ecf0f1
#ff9800 oranz
*/

/* common styles */
body {
    font-family: 'Oxygen', sans-serif;
}
h1,
h2,
h3 {
    font-weight: bold;
}
.btn-default {
    background-color: #e74c3c;
    color: #fff;
    border: none;
}
.btn-default:hover {
    background-color: #e7693c;
    color: #fff;
}
.thumbnail {
    border: none;
    padding: 0;
    border-radius: 0;
    position: relative;
}
/* --------- top-header styles --------- */
.top-header {
    height: 50px;
    background-color: #080626;
    color: #ebebeb;
    font-size: 12px;
}
.top-header p {
    margin-bottom: 0;
    line-height: 50px;
}
.top-header img {
    margin-top: 12px;
    opacity: .7;
} 
.top-header img:hover {
    opacity: 1;
}
.form-control,
.input-group-btn .btn-default {
    background-color: transparent;
    border: 1px solid #fff;
}
.form-control:focus {
    color: #fff;
    border: 1px solid #fff;
}

/* --------- nav styles --------- */
header .nav a,
.nav-tabs a {
    color: #000;
    font-size: 16px;
}

/* --------- banner styles --------- */
#banner {
    height: 300px;
    background: url(../images/bg.jpg) no-repeat;
    color: #fff;
}
#banner {
    position: relative;
}
#banner h1 {
    margin-top: 100px;
}
#banner a {
    color: #fff;
    font-size: 24px;
    position: absolute;
    bottom: 60px;
    left: 50%;
}

/* --------- main-mssg styles --------- */
#main-mssg {
    text-align: center;
    padding: 80px 0 100px;
    border-bottom: 1px solid #e5e5e5;
}
#main-mssg h2 {
    margin: 40px;
}
#main-mssg .btn {
    margin-top: 40px;
}
#main-mssg .modal {
    text-align: left;
}

/* --------- info styles --------- */
#info {
    padding: 80px 0 100px;
    background-color: #16193b;
}
.thumbnail {
    width: 100%;
    height: 450px;
    background: url(../images/slika-3.jpg) no-repeat;
    padding-top: 200px;
}
#info a {
    text-decoration: none;
    text-align: center;
    color: #16193b;
}
.caption {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(255,255,255,.8);
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
}
.caption p {
    font-size: 48px;
    color: #16193b;
    margin-top: 10px;
}
.caption h3 {
    margin-top: 10px;
    color: #16193b;
}
.thumbnail button {
    visibility: hidden;
}
.thumbnail:hover .caption {
    padding-top: 100px;
    height: 450px;
    background-color: rgba(255,255,255,.0);
}
.thumbnail:hover button {
    visibility: visible;
    margin-top: 100px;
}

/* --------- about styles --------- */
#about {
    margin: 100px 0;
}
.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}
#tree img {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.panel-default>.panel-heading {
    background-color: #16193b;
    color: #fff;
}
.panel-heading .glyphicon {
    float: right;
}

/* --------- gallery styles --------- */


/* --------- footer styles --------- */
footer {
    padding: 100px 0 80px;
    background-color: #080626;
    color: #cecece;
    text-align: center;
}
footer ul,
footer li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contact {
    margin: 50px 0;
}
.follow {
    text-align: center;
}
.follow img {
    opacity: .7;
}
.follow img:hover {
    opacity: 1;
}
footer p {
    text-align: center;
    margin-top: 40px;
}
/* --------- media queries --------- */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .nav li {
        line-height: 70px;
    }
    #banner {
        height: 500px;
        background: url(../images/bg.jpg) no-repeat;
        background-size: 100% auto;
    }
    #banner h1 {
        margin-top: 200px;
        font-weight: bold;
    }
    footer {
        text-align: left;
    }
    .contact {
        margin: 0;
    }
}/* end of tablets styles */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #banner {
        height: 600px;
        background: url(../images/bg.jpg) no-repeat;
        background-size: 100% auto;
    }
    #banner h1 {
        margin-top: 250px;
    }
    
}/* end of desktops styles */

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #banner {
        height: 850px;
        background: url(../images/bg.jpg) no-repeat;
        background-size: 100% auto;
    }
    #banner h1 {
        margin-top: 350px;
    }
}/* end of large desktops styles */